{{#if addNewAnswer}}
  <div class="center">
    <h3>New Answer</h3>
    <form>
      <div class="form-group">
        <label for="author">Name:</label><br>
        {{input value=author id="author"}}
      </div>

      <div class="form-group">
        <label for="content">Answer:</label><br>
        {{textarea value=content id="content"}}
      </div>
      <button type="btn btn-default" {{action 'saveAnswer'}}>Save</button>
    </form>
  </div>
{{else}}
  <button type="btn btn-default" {{action 'answerFormShow'}}>New Answer</button>
{{/if}}
