{{#if addNewAnswer}}
<h1>New Answer</h1>
  <div>
    <form>
      <div class="form-group">
        <label for="author">Name</label>
        {{input value=author id="author"}}
      </div>

      <div class="form-group">
        <label for="content">Answer:</label>
        {{textarea value=content id="content"}}
      </div>
      <button type="btn btn-default" {{action 'saveAnswer'}}>Save</button>
    </form>
  </div>
{{else}}
  <button type="btn btn-default" {{action 'answerFormShow'}}>New Answer</button>
{{/if}}
