<h2 class="center">Question by {{model.author}}: <br>{{model.questionCont}}</h2>

<div class="pull-right">
  {{update-question question=model updateQuestion="updateQuestion"}}
</div>

{{question-detail question=model destoryQuestion="destoryQuestion" destoryAnswer="destoryAnswer"}}

{{new-answer saveAnswer="saveAnswer" question=model}}
